body {
    background-color: #252525;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-square {
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
}

.title {
    text-align: center;
    color: white;
    font-family: 'Edifice', sans-serif;
    font-weight: 700;
}

.line1 {
    font-size: 65px;
}

.line2 {
    font-size: 40px;
}

.underline {
    width: 79%;
    height: 5px;
    background-color: #009aee;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.overline {
    width: 79%;
    height: 5px;
    background-color: #009aee;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-top: 20px;
    text-align: left;
    width: 80%;
}

label {
    color: white;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #009aee;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    flex-direction: row; /* Align radio options horizontally */
    justify-content: space-between; /* Add space between options */
}

.radio-option {
    width: 48%; /* Adjust width for two options with spacing */
}

.radio-option label {
	margin-top: 5px;
    display: flex;
    align-items: center; /* Align text and radio button vertically */
}

.radio-option input {
	margin-top: 20px;
    margin-right: 0px; /* Adjust margin for spacing between text and radio button */
}

.age-result {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.scrollable-container {
    max-height: 100%; /* Adjust the height as needed */
    overflow: auto;
}

.form-group input {
    width: calc(100% - 16px); /* Adjust as needed */
    margin-right: 0;
}

